@CHARSET "UTF-8";
span.springnet-key-id,
textarea.springnet-key-display {
	font-family: monospace;
}

a.springnet-risky {
	background-color: #BF0000 !important;
	
	border-color: #AF0000 #8F0000 #6F0000 !important;
	text-shadow: 0 -1px 1px #9F1313 !important;
	box-shadow: 0 1px 0 #4F0000 !important;
}

div.springnet-uri-tag {
	float: right;
	font-size: 0.9em;
	font-weight: bold;
}

ul.springnet-notification-list {
	margin-top: 0px;
}

ul.springnet-notification-list a {
	text-decoration: none;
	font-weight: bold;
}

ul.springnet-notification-list span.source {
	color: #8E9296;
	font-size: 0.9em;
}

ul.springnet-notification-list div.description {
	color: #8E9296;
	margin-top: 0.5em;
}